@import url('https://fonts.googleapis.com/css2?family=Capriola&family=Fresca&family=Libre+Bodoni:ital@1&family=Roboto:wght@300&display=swap');

* {
    box-sizing: border-box;
    
}

body {
    background: rgb(244,235,217);
    background: linear-gradient(0deg,  rgba(221,117,150,0.8) 18%, rgba(5,142,217,0.5) 56%, rgba(244,235,217,1) 89%);

}

nav {


  
    ul{
        display: flex;
            flex-direction: row;
            justify-content: space-between;
            text-align: center;
            font-family: 'Libre Bodoni', serif;
            padding: 0%;
            margin: 0%;
        li{
            display: flex;
            flex-direction: column;
            text-align: center;
            font-family: 'Libre Bodoni', serif;
            padding: 0%;
            
        }
    }
}

// hero section
.hero {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 5rem;
    margin-bottom: 5rem;

    .discover {
        margin-top: 10rem;
        font-family: 'Capriola', sans-serif;
        font-size: xx-large;
    }

    .center {
        margin-top: 10rem;
        font-family: 'Capriola', sans-serif;
        font-size: xx-large;
    }

    .image-container {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-weight: 600;
        font-family: 'Capriola', sans-serif;
        font-size: xx-large;
    }
}

.services {
    margin-top: 15rem;
    h1 {
        text-align: center;
        font-family: 'Fresca', sans-serif;
        font-size: xx-large;
    }

    .service-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        .desc-services {
            display: flex;
            flex-direction: column;
            margin-top: 6rem;
            font-size: x-large;
            text-align: center;
            font-family: 'Libre Bodoni', serif;
        }
    }
}

.insurances {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 15rem;
    .desc-insurance {

        h3 {
            font-family: 'Fresca', sans-serif;
            font-size: x-large;
        }
        
        font-family: 'Libre Bodoni', serif;
        text-align: center;
        margin-top: 7rem;
        font-size: x-large;
    }
}

.new-patient {

    margin-top: 15rem;
    
    .header{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        margin-top: 5rem;
        font-family: 'Fresca', sans-serif;

        h4{
            font-size: xxx-large;
        }

        img {
            margin-top: 2rem;
            height: 4rem;
        }
    }

    .download {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: xx-large;
        font-family: 'Fresca', sans-serif;
    }

    .desc-instructions {
        display: flex;
        flex-direction: row;

        p{
            font-size: large;
            font-weight: 700;
            font-family: 'Libre Bodoni', serif;
        }
    }
    
 button {
    margin: 2rem 35rem 2rem 35rem;
 }
}

.address {
    
}

footer {
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Capriola', sans-serif;
}

@media screen and (max-width: 480px){

     body {
         display: flex;
         flex-direction: column;
     }

     .hero {
         display: flex;
         flex-direction: column;
     }

     .services{

        .service-container {
            display: flex;
            flex-direction: column-reverse;
            margin-top: 5rem;

            .desc-services {
                text-align: center;
            }
        }
     }

     .insurances {
         display: flex;
         flex-direction: column-reverse;
     }

     .new-patient {

        .desc-instructions {
            display: flex;
            flex-direction: column;
        }
     }

     button {
         margin: 0rem;
     }

}